@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

html, body{
    height:100%;
    background-color: #D8DFE8;
}

.center{
    width:100%;
    max-width:1440px;
    margin:0 auto;
    padding:0 2%;
}

.clear{
    clear:both;
}

/* Config. Header */

header{
    padding:1%;
}

/* Fim Config. Header */

/* Config. Main */

main{
    margin-top:2%;
}

main > .center{
    display:flex;
    justify-content: space-around;
}

textarea{
    width:100%;
    /* height:100%; */
    resize:none;
    outline:0;
    border:0;
    background-color:#D8DFE8;
    color:#0A3871;
    font-size:2em;
}

textarea::placeholder{
    color:#0A3871;
}

.box__mensagem{
    margin-top:-100px;
    padding:2%;
    max-width:400px;
    min-height:700px;
    text-align: center;
    background-color: #fff;
    border-radius: 32px;
    box-shadow: 0px 24px 32px -8px rgba(0,0,0,0.08);
}

.text-criptografado{
    text-align: left;
    line-height:28px;
    padding:10px;
    font-size:1.2em;
}

.image-single{
    margin: 40px 0 5px 0;
}

.text-single h2{
    margin-bottom:10px;
}

.text-single p{
    display:inline-block;
    width:300px;
    margin-bottom:0px;
}

#btnCopiar{
    display:none;
    background-color:#fff;
    color:#0A3871;
    border:1px solid #0A3871;
    margin-top:150%;
}

.btn__acao{
    margin:1.3%;
    display:flex;
    justify-content: center;
}

button{
    position:relative;
    margin: 0 5px;
    outline:0;
    border:0;
    background-color:#0A3871;
    color:#fff;
    font-size: 1.2em;
    font-weight: 300;
    width:328px;
    height:67px;
    border-radius:24px;
    cursor:pointer;
    /* transition: 1s; */
}

button:nth-of-type(2){
    background-color:#D8DFE8;
    color:#0A3871;
    border:1px solid #0A3871;
}

/* .overlay{
    opacity:1;
    position:absolute;
    width:100%;
    height:100%;
    background-color:rgba(0,0,0,0.5);
} */

/* Fim Config. Main */

/* Config. Footer */

footer{
    width: 100%;
    background-color: #D8DFE8;
    border-top:1px solid #0A3871;
}

footer > .center{
    padding:1%;
    display:flex;
    justify-content: space-between;
}

/* Fim Config. Footer */

/* Config. Responsivo */

@media screen and (max-width:760px){

    main > .center{
        flex-direction: column;
    }

    textarea{
        margin-top:20px
    }

    .box__mensagem{
        min-height: 200px;
        padding:5%;
        margin: 30px auto 100px auto;
    }

    .image-single{display:none;}

    #btnCopiar{
        margin-top:10%;
    }

    footer{
        position: fixed;
        left: 0;
        bottom: 0;
    }

}


/*  */